/**
 * @file
 * This file contains styling for reusable base elements.
 *
 * Styles placed here should not be opinionated, and should be applicable
 * for most cases on any site. These global definitions can be overridden
 * by skinning themes or for specific uses by using more selective selectors.
 *
 * @todo: look at elements.css from Bartik and base.css from Umami for ideas
 *   about what elements should be included here.
 *   - web/core/themes/bartik/css/base/elements.css
 *   - web/core/profiles/demo_umami/themes/umami/css/base.css
 */

/**
 * Automatically scales images larger than the container.
 * Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/
 */

body {
  overflow-x: hidden;
}

img {
  height: auto;
  -ms-interpolation-mode: bicubic;
}

img,
object,
video {
  max-width: 100%;
}

/* Link Styles */

.layout-container a,
.layout-container a.link {
  text-decoration: none;
  color: #328c38;
  border-bottom: 1px solid #328c38;
}

.layout-container a:hover,
.layout-container a:active,
.layout-container a:focus,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  border-bottom-style: none;
  background-color: #deeede;
}

/* Reusable classes */

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.center {
  text-align: center;
}

.floatleft img {
  float: left;
  margin-right: 1.5em;
}

.floatright img {
  float: right;
  margin-left: 1.5em;
}

.summer-vacation img {
  display: block;
}
