/**
 * @file
 * This file defines the page layout and region styling.
*/

body {
  background: url("../images/tgb-background.jpg") left top;
}

.section-header {
  padding: 0 2em 0.3em;
  border-bottom: 1px solid #736f364f;
  background: #d5f2df;
}

.site-name {
  font-size: 2.375em;
  font-weight: 500;
  line-height: 1.2632em;
}

.site-name a {
  color: #736f36;
  border-bottom: none;
}

.site-slogan {
  font-style: italic;
}

.section-navigation {
  padding: 0 2em 0.7em;
  background: #d5f2df;
}

.main-menu {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 0;
  padding: 0.3em 0 0;
}

.main-menu span {
  padding: 0 0.5em;
  border: 1px solid transparent;
  border-radius: 3px;
  background: #bcd9c6;
}

.main-menu a {
  border-bottom: none;
}

.main-menu .active a {
  color: #000;
}

.main-menu a:hover,
.main-menu a:active,
.main-menu a:focus {
  background-color: inherit;
}

.main-menu span:hover {
  border: 1px solid #736f36;
  background-color: #deeede;
}

.section-main .layout-content {
  margin: 0 1.5em;
}

.region-content,
.region-footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1em;
  background: #ebf2f2;
}

.section-footer {
  margin: 0 1.5em;
}

.region-footer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1em 1em;
  text-align: center;
  background: #ebf2f2;
}
