/**
 * @file
 * Defines base typography for the HFC Kingfisher theme.
 */

/* Fonts settings based on the 100E2R standard: http://www.informationarchitects.jp/en/100e2r/ */

body, button, caption, fieldset, input, legend, option, select, textarea, td, th {
  max-width: 100%; /* Fixes forms and tables to be responsive */
  color: #253425;
  font-family: Arimo, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.444em;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

/* @todo This is a lie! Redo all the maths! */
/* Font size = 16px (100%), line height = 24px (1.5em), interval = perfect fourth (1:1.3333) */
/* http://www.gridlover.net/try */
/* @todo Look at font sizing intervals / revisit  */

h1 {
  margin: 0;
  font-size: 2.375em;
  line-height: 1.2632em;
}

h2 {
  margin: 0.8571em 0;
  font-size: 1.6em;
  line-height: 1.5em;
}

h3 {
  margin: 1.1428em 0;
  font-size: 1.3125em;
  line-height: 1.1428em;
}

h4 {
  margin: 1.5em 0;
  font-size: 1em;
  line-height: 1.5em;
}

small {
  margin: 0 0 1.875em;
  font-size: 0.8em;
  line-height: 1.875em;
}
